body {
    font-family: 'Oswald', sans-serif;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background:rgba(255,255,255,0.5);
}

#formDes {
    margin: auto;
    text-align: center;
}

#cashSubmit {
    margin-top: 10px;
}



#tagscloud {
    padding-bottom: 20px;
    text-align: center;
}

#info {
    padding-bottom: 50px;
}

#fHeader {
    text-align: center;
}

#nHeader {
    text-align: center;
}

#iHeader {
    text-align: center;
}

