#Louis, #Josh {
    height: 200px;
    width: 200px;
}


#team {
    text-align: center;
    display: inline-block;
    margin: auto;
}

#pInfo {
    text-align: center;
    display: inline-block;
    margin: auto;
}